*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/modules.xml
/cloudFunctions/functions/node_modules
/cloudFunctions/appengine/lib
.idea/misc.xml